/* You can add global styles to this file, and also import other style files */

body{
    margin: 0;
    padding: 0;
    
}
ul,ol{
    li{
        list-style: none;
    }
}
.input-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    input[type=text]{
        border: none;
        background: transparent;
        border-bottom: 1px solid green;
        line-height: 25px;
        color: #fff;
    }
    margin-bottom: 15px;
}