<div class="main">
    <h1>Welcome to Hangman Hollywood</h1>
    <h3>..jus kidding we have only hollywood (no violence!!!!)</h3>


    <div class="btn-container">
        <button (click)="setGameType('online')">Play Online</button>
        <button (click)="setGameType('local')">Play Local</button>
    </div>

    <div class="rule-container">
        <h4>Here is how the game works...</h4>
        <ol>
            <li>It's a two player game (Duh..!)</li>
            <li>One player decides a hollywood movie name, which the other play has to guess and find out</li>
            <li>The vowels (a,e,i,o,u) and any non-alphabetic character is shown, while the rest of the alphabets are left as blank</li>
            <li>The guessing player has a total of 9 (H,O,L,L,Y,W,O,O,D) chances to get all the alphabets</li>
            <li>If you guess it within 9 turns.. You get two points!!</li>
            <li>If you cannot guess the movie name, the other guy gets 1 point!!</li>
            <li>Highest score at the end of the game wins.. Again DUH!!!</li>
        </ol>
    </div>
</div>