:host{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    background-color: #000000;
    color: #ffffff;
    div{
        h1,h3{
            text-align: center;
        }
        .btn-container{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            button{
                background: blue;
                height: 50px;
                width: 100px;
                border: 1px solid indigo;
                border-radius: 9%;
            }
        }
    }
}